@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev {
  left: 10px !important;
     z-index: 10;
   }
   .slick-next{
    right: 25px !important;
    z-index: 10;
   }
   
   .slick-prev:before {
    content: "←";
    color: white !important;
    font-size: 35px !important;
   }
   
   .slick-next:before {
    content: "→";
    color: white !important;
    font-size: 35px !important;
   }
   
   .slick-dots {
    text-align: end !important;
   }
   
   .slick-dots li button:before {
    font-size: 20px !important;
   }
   .swiper-container{
    padding-bottom: 20px;
}
